<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="styles.css"></link>
<head>
<title>Columbus Taco Reviews</title>
</head>
<header>
	<h1>Columbus Tacos Reviews</h1>

</header>
<body>
	<div>
		<div class="container">
			<section>
				<blockquote>
					<h1>Love tacos but not sure where to start?</h1> 
					<h4>I have visited some of the best taco places around Columbus, Oh. Take a look below!</h4>
				</blockquote>

			</section>

			<div th:each="review: ${reviewsAsCollection}">
				<h3>
					<a th:href="@{/singleReview(id=${review.id})}"
						th:text="${review.title}"></a>
				</h3>
				<img class="images1" th:src="${review.imageURL}"></img>
				<br></br>
				<a th:href="@{/singleReview(id=${review.id})}">Read the full review here...</a>
				<p th:text="${review.taste}"></p>
			</div>
		</div>


	</div>
</body>
</html>