<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="styles.css"></link>

<head>
<title>Single Reviews</title>
</head>
<header>
	<h1>Columbus Tacos Reviews</h1>
</header>
<body>
	<div class="container">

		<div th:each="tacoJoint: ${tacoJoint}">
			<h3 th:text="${tacoJoint.name}"></h3>

			<img class="images" th:src="${tacoJoint.imageURL}" />
			<p th:text="${tacoJoint.review}"></p>
			<p th:text="${tacoJoint.taste}"></p>

			<ul id="liststyle1">
				<p1>Taco Tags</p1>
				<li th:each="tag: ${tacoJoint.tags}"><a th:text="${tag.name}"></a></li>
			</ul>


			<a th:href="@{/tacoregions(id=${regionsAsCollection})}">Click to
				go back to all the Taco Regions</a>
		</div>


		<form method="POST">
			<input type="hidden" name="id" th:value="${tacoJoint.tacoJointId}" />
			<label>Add tags: <input name="name" type="text" />
			</label>
			<button th:formaction="@{/createTag}">Create Tag!</button>
		</form>

		<form>
			<ul>
				<input type="hidden" name="id" th:value="${tacoJoint.tacoJointId}" />
				<li th:each="currentTag: ${tacoJoint.tags}"><span
					th:text="${currentTag.name}"></span>
					<button name="tagId" th:value="${currentTag.tagId}" th:formaction="@{/deleteTag}">delete me</button></li>
			</ul>
		</form>

	</div>
</body>
<footer>Columbus Taco Reviews Copyright 2017</footer>
</html>